{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Création d'un PDF via un formulaire en Ajax</h1>

        <div class="formulaire">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}